<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <nav class="nav-links">
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Lenkkipolku logo" class="banner-logo">
                </li>
                <li><a href="/">ETUSIVU</a></li>
                {%if session.get("user_id")%}
                <li><a href="/logout">KIRJAUDU ULOS</a></li>
                {%else%}
                <li><a href="/register">REKISTERÖIDY</a></li>
                <li><a href="/login">KIRJAUDU SISÄÄN</a></li>
                {%endif%}
                <li><a href="/personal_diary">PÄIVÄKIRJA</a></li>
                <li><a href="/browseruns">SELAA</a></li>
                <li><a href="/competition">KISAT</a></li>
            </ul>
        </nav>
    </header>

    <div class="top-banner">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/alt_2.png') }}" alt="Lenkkipolku banneri" class="alt-banner">
            </a>
    </div>

    <main class="body">

        <section class="right-text-section">
            <div class="text-right">
                <p>Tervetuloa jokaisen juoksijan päiväkirjaan.<br /> Olit sitten aloittelija, konkari tai kilpailija,</p>
                <p>olet juoksija</p>
            <div>
        </section>
        <section class="right-text-section">
            <img src="{{ url_for('static', filename='images/frontpg1.png') }}" alt="Nainen juoksee hiekka maastossa" class="pic-left">
            <div class="text-right">
                <h1>Haasta itsesi</h1>
                <p>Oletko valmis uuteen seikkailuun?</p>
            <div>
        </section>

        <section class="left-text-section">
            <div class="text-left">
                <h2>Seuraa kehitystäsi</h2>
                <p>Juokse pidemmälle kuin koskaan ennen</p>
            </div>
            <img src="{{ url_for('static', filename='images/frontpg2.png') }}" alt="Mies juoksee" class="pic-right">
        </section>

        </section>
        <section class="right-text-section">
            <img src="{{ url_for('static', filename='images/frontpg3.png') }}" alt="Kaksi ihmistä hölkkää" class="pic-left">
            <div class="text-right">
                <h1>Ole osa yhteisöä</h1>
                <p>Inspiroidu ja keskustele</p>
            <div>
        </section>

        <section>
            <h1>Täysin ilmainen</h1>
            <p>Liity juoksijoiden yhteisöön  </p>
            <a href="{{ url_for('register') }}">
                <img src="{{ url_for('static', filename='images/register.png') }}" alt="Liity mukaan" class="kuva-linkki">
            </a>
        </section>
        <section>
            <h2>Fani vai haastaja?</h2>
            <p>Seuraa tulevia ja menneitä kisoja</p>
            <a href="{{ url_for('competitions') }}">
                <img src="{{ url_for('static', filename='images/browse_comps.png') }}" alt="Kisasivut" class="kuva-linkki">
            </a>
        </section>

    <footer>
        <p>&copy; 2025 Juoksupäiväkirja. Kaikki oikeudet pidätetään.</p>
    </footer>
</body>
</html>