<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <nav class="nav-links">
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Lenkkipolku logo" class="banner-logo">
                </li>
                <li><a href="/">ETUSIVU</a></li>
                {%if session.get("user_id")%}
                <li><a href="/logout">KIRJAUDU ULOS</a></li>
                {%else%}
                <li><a href="/register">REKISTERÖIDY</a></li>
                <li><a href="/login">KIRJAUDU SISÄÄN</a></li>
                {%endif%}
                <li><a href="/personal_diary">PÄIVÄKIRJA</a></li>
                <li><a href="/browseruns">SELAA</a></li>
                <li><a href="/competition">KISAT</a></li>
            </ul>
        </nav>
    </header>

    <div class="top-banner">
        <h2>Etsi päiväkirjamerkintöjä</h2>
        <p>Etsi eri hakuehdoilla:</p>
    </div>

    <main>

        {%if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="GET" action="{{ url_for('browse_runs')}}" class="search-group">
            <div class="rows">
                <label>Käyttäjä:</label>
                <input type="text" name="username" placeholder="käyttäjänimi">
            </div>

            <div class="rows">
                <label> Juoksun pituus:</label>
                <div class="inline-inputs">
                    <input type="number" name="km" placeholder="km" min="0">
                </div>
            </div>

            <div class="rows">
                <label for="terrain">Maasto:</label>
                <div class="checkbox-group">
                    <label><input type="checkbox" name="terrain" value="juoksumatto">Juoksumatto</label>
                    <label><input type="checkbox" name="terrain" value="katu">Katu</label>
                    <label><input type="checkbox" name="terrain" value="rata">Rata</label>
                    <label><input type="checkbox" name="terrain" value="hiekkatie">Hiekkatie</label>
                    <label><input type="checkbox" name="terrain" value="metsä/epätasainen">Metsä/epätasainen</label>
                </div>
            </div>

            <div class="rows">
                <label>Juoksun tyyppi:</label>
                <div class="radio-group">
                    <label><input type="radio" name="run_type" value="kevyt">Kevyt</label>
                    <label><input type="radio" name="run_type" value="tavoitteellinen">Tavoitteellinen</label>
                    <label><input type="radio" name="run_type" value="kilpailuun tähtäävä">Kilpailuun tähtäävä</label>
                    <label><input type="radio" name="run_type" value="kisat">Kisat</label>
                </div>
            </div>

            <div class="rows">
                <label>Kilpailu:</label>
                <input type="text" name="race_name" placeholder="">
                <div>
                    <button type="submit">Hae</button>
                </div>
            </div>
        </form>

        <section class="entries">
            {% if runs %}
                <ul>
                    {% for entry in runs %}
                    <li>
                        <span><strong>Käyttäjä:</strong> 
                            <a href="{{url_for('user_page', username=entry['username'])}}">
                                {{ entry['username'] }}
                            </a>
                        </span>
                        <br>
                        <strong>{{ entry['distance_km'] }} km {{ entry['distance_m'] }} m</strong>
                        {{ entry['runtime'] }} -
                        {{ entry['terrain'] }} -
                        {{ entry['run_type'] }}
                        {% if entry['race_name'] %}(Kisa: {{ entry['race_name']}}){% endif %}
                        <br>
                        <em>Juoksijan kommentti: {{entry['other'] }}</em>
                        <br>
                        <small>{{ entry['created_at'] }}</small>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Antamillasi hakuehdoilla ei löytynyt kirjauksia</p>
            {% endif %}
        </section>

    </main>

    <footer>
        <p>&copy; 2025 Juoksupäiväkirja. Kaikki oikeudet pidätetään.</p>
    </footer>
</body>
</html>