<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <nav class="nav-links">
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Lenkkipolku logo" class="banner-logo">
                </li>
                <li><a href="/">ETUSIVU</a></li>
                {%if session.get("user_id")%}
                <li><a href="/logout">KIRJAUDU ULOS</a></li>
                {%else%}
                <li><a href="/register">REKISTERÖIDY</a></li>
                <li><a href="/login">KIRJAUDU SISÄÄN</a></li>
                {%endif%}
                <li><a href="/personal_diary">PÄIVÄKIRJA</a></li>
                <li><a href="/browseruns">SELAA</a></li>
                <li><a href="/competition">KISAT</a></li>
            </ul>
        </nav>
    </header>

    <div class="top-banner">
        <h2>Tervetuloa kisaamaan</h2>
    </div>

    <main>

        {%if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <h2>Valitse kisat alla olevasta listalta</h2>
        <ul class="entries">
            {% for c in competitions %}
                <li><a href="{{ url_for('competition', competition_id=c['id']) }}">{{ c["name"] }}</a></li>
            {% else %}
                <li>Kisoja tulossa!</li>
            {% endfor %}
        </ul>
        

        <section class="left-text-section">
            <div class="text-left">
                <h2>Etkö löydä etsimääsi kilpailua?</h2>
                <p>Lisäämme jatkuvasti uusia kisasivuja,<br>mutta valitettavasti emme ehdi tehdä kaikille sivua.</p>
                <p>Voit silti rekisteröidä kisatuloksesi päiväkirjaasi, vaikka sille ei olisi vielä virallista kisasivua!</p>
            </div>
            <img src="{{ url_for('static', filename='images/competition.jpg') }}" alt="Nainen kyykyssä aidalla" class="pic-right">
        </section>




    </main>

    <footer>
        <p>&copy; 2025 Juoksupäiväkirja. Kaikki oikeudet pidätetään.</p>
    </footer>
</body>
</html>