<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <nav class="nav-links">
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Lenkkipolku logo" class="banner-logo">
                </li>
                <li><a href="/">ETUSIVU</a></li>
                {%if session.get("user_id")%}
                <li><a href="/logout">KIRJAUDU ULOS</a></li>
                {%else%}
                <li><a href="/register">REKISTERÖIDY</a></li>
                <li><a href="/login">KIRJAUDU SISÄÄN</a></li>
                {%endif%}
                <li><a href="/personal_diary">PÄIVÄKIRJA</a></li>
                <li><a href="/browseruns">SELAA</a></li>
                <li><a href="/competition">KISAT</a></li>
            </ul>
        </nav>
    </header>


    <main class="competition-page">

        {%if competition["banner_image"] %}
        <section>
            <img src="{{ url_for('static', filename='images/' + competition['banner_image']) }}" alt="Kisan banneri" class="alt-banner">
        </section>
        {% endif %}


        {%if competition["map_image"] %}
        <section class="top-banner">
            <img src="{{ url_for('static', filename='images/' + competition['map_image']) }}" alt="Kisan kartta" class="alt-banner">
        </section>
        {% endif %}

        <section class="competition-content">
            <div class="descriptions card">
                <h2>Kilpailun tiedot</h2>
                <p>{{ competition["description"] }}</p>
                <p>{{ competition["description2"] }}</p>
            </div>
            <aside class="stats-box card">
                <h2>TOP 10 AJAT</h2>
                <ol>
                    {% for result in top_result %}
                        <li>
                            <a href="{{url_for('user_page', username=result['username'])}}">
                            {{result["username"]}}</a>
                             - {{result["runtime"]}}</li>
                    {%else%}    
                        <p>Tulokset päivittyvät myöhemmin</p>
                    {%endfor%}
                </ol>
            </aside>
        </section>

        <section class="comments card">
            <h3>Keskustelu kilpailusta</h3>
            <p>Viimeiset 15 kommenttia:</p>
            {% if session.get("user_id") %}
            <form method="post" class="comment-form">
               <textarea name="comment" rows="8" class="comment-textarea" placeholder="Osallistu keskusteluun" required></textarea>
               <button type="submit" class="comment-submit">Lähetä</button>
            </form>
            {%else%}
            <p><a href="/login">Kirjaudu sisään</a> kommentoidaksesi.</p>
            {%endif%}
            <div class="comment-list">
                {% for c in comments %}
                    <div class="comment">
                        <p>
                            <strong>
                                <a href="{{url_for('user_page', username=c['username'])}}">
                                {{c["username"]}}</a>
                            </strong> 
                            ({{c["created_at"]}}):
                        </p>
                        <p class="other-note">{{c["comment"]}}</p>
                    </div>
                {%else%}
                <p>Ei kommentteja.</p>
                {%endfor%}
            </div>
        </section>

    </main>

    <footer>
        <p>&copy; 2025 Juoksupäiväkirja. Kaikki oikeudet pidätetään.</p>
    </footer>
</body>
</html>