<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <nav class="nav-links">
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Lenkkipolku logo" class="banner-logo">
                </li>
                <li><a href="/">ETUSIVU</a></li>
                <li><a href="/register">REKISTERÖIDY</a></li>
                <li><a href="/logout">KIRJAUDU ULOS</a></li>
                <li><a href="/paivakirja">PÄIVÄKIRJA</a></li>
                <li><a href="/browseruns">SELAA</a></li>
                <li><a href="/kisat">KISAT</a></li>
            </ul>
        </nav>
    </header>

    <div class="top-banner">
        <h2>Rekisteröidy käyttäjäksi</h2>
    </div>

    <main>
        <section>
            <h2>Muokkataan merkintää</h2>
            <p> * kohdat pakollisia</p>
        </section>

        {%if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form class="entry-form" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label> Juoksun pituus*:</label>
            <div class="inline-inputs">
                <input type="number" name="km" value="{{ entry['distance_km']}}" min="0" max="999" required>
                <input type="number" name="m" value="{{ entry['distance_m']}}" min="0" max="999" required>
            </div>

            <label>Aika (hh:mm:ss)*:</label>
            <input type="text" name="runtime" value="{{ entry['runtime']}}" required>
            
            <label>Maasto*:</label>
            <div class="checkbox-group">
                {% for t in terrains %}
                <label>
                    <input type="checkbox" name="terrain" value="{{ t['name']}}"
                    {% if entry and t['name'] in entry['terrain'] %} checked {% endif %}>
                    {{ t['name'] }}
                </label>
                {% endfor %}
            </div>
            <label>Juoksun tyyppi*:</label>
            <div class="radio-group">
                {% for r in run_types %}
                <label>
                    <input type="radio" name="run_type" value="{{ r['name']}}"
                    {% if entry and r['name'] in entry['run_type'] %} checked {% endif %}>
                    {{ r['name'] }}
                </label>
                {% endfor %}
            </div>

            <label>Kilpailun nimi (jos kilpailu):</label>
            <input type="text" name="race_name" value="{{ entry['race_name'] or ''}}">

            <label>Muut tiedot:</label>
            <textarea name="other" rows="4" value="{{ entry['other'] or ''}}"></textarea>

            <button type="submit">Tallenna muutokset</button>
        </form>
        <form method="POST" action= "{{ url_for('delete_entry_route', entry_id=entry['id']) }}" onsubmit="return confirm('Poistetaanko merkintä? Tätä toimintoa ei voi perua');">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit">Poista merkintä</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2025 Juoksupäiväkirja. Kaikki oikeudet pidätetään.</p>
    </footer>
</body>
</html>