<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <nav class="nav-links">
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Lenkkipolku logo" class="banner-logo">
                </li>
                <li><a href="/">ETUSIVU</a></li>
                <li><a href="/register">REKISTERÖIDY</a></li>
                <li><a href="/login">KIRJAUDU SISÄÄN</a></li>
                <li><a href="/paivakirja">PÄIVÄKIRJA</a></li>
                <li><a href="/browseruns">SELAA</a></li>
                <li><a href="/kisat">KISAT</a></li>
            </ul>
        </nav>
    </header>

    <div class="top-banner">
        <h2>Kirjaudu sisään</h2>
    </div>

    <main>
        <section>
            <h2>Kirjaudu sisään</h2>
            <p> Anna kirjautumistietosi</p>
        </section>

        {%if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form class="register-form" method="POST" action="/login">
            <label for="username">Käyttäjänimi:</label>
            <input type="text" id="username" name="username" placeholder="Anna käyttäjänimesi" required>

            <label for="password">Salasana:</label>
            <input type="password" id="password" name="password" placeholder="Anna salasanasi" required>

            <button type="submit">Kirjaudu sisään</button>
        </form>

        <section>
            <p>Kirjaudu sisään, että voit tarkastella päiväkirjamerkintöjäsi</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Juoksupäiväkirja. Kaikki oikeudet pidätetään.</p>
    </footer>
</body>
</html>