<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <nav class="nav-links">
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Lenkkipolku logo" class="banner-logo">
                </li>
                <li><a href="/">ETUSIVU</a></li>
                <li><a href="/logout">KIRJAUDU ULOS</a></li>
                <li><a href="/paivakirja">PÄIVÄKIRJA</a></li>
                <li><a href="/browseruns">SELAA</a></li>
                <li><a href="/kisat">KISAT</a></li>
            </ul>
        </nav>
    </header>

    <div class="top-banner">
        <h2>Tervetuloa juoksupäiväkirjaasi, {{ username }}</h2>
    </div>

    <main>

        {%if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <a href="/uusijuoksu"><button>Lisää uusi merkintä</button></a>

        <section class="entries">
            {% if entries %}
                <ul>
                    {% for entry in entries %}
                    <li>
                        <strong>{{ entry['distance_km'] }} km {{ entry['distance_m'] }} m</strong>
                        {{ entry['time'] }} -
                        {{ entry['terrain'] }} -
                        {{ entry['run_type'] }}
                        {% if entry['race_name'] %}(Kisa: {{ entry['race_name']}}){% endif %}
                        <br>
                        <em>{{ entry['other'] }}</em>
                        <br>
                        <small>{{ entry['created_at'] }}</small>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aloita lisäämällä ensimmäinen juoksumerkintäsi!</p>
            {% endif %}
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Juoksupäiväkirja. Kaikki oikeudet pidätetään.</p>
    </footer>
</body>
</html>