<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <nav class="nav-links">
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Lenkkipolku logo" class="banner-logo">
                </li>
                <li><a href="/">ETUSIVU</a></li>
                <li><a href="/logout">KIRJAUDU ULOS</a></li>
                <li><a href="/browseruns">SELAA</a></li>
                <li><a href="/competition">KISAT</a></li>
            </ul>
        </nav>
    </header>

    <div class="top-banner">
        <h2>Tervetuloa juoksupäiväkirjaasi, {{ username }}</h2>
    </div>

    <main class="paivakirja-main">

        {%if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <a href="{{ url_for('add_entry_route') }}" class="button-link">Lisää uusi merkintä</a>

        <section class="entries">
            {% if entries %}
                <ul>
                    {% for entry in entries %}
                    <li>
                        <strong>{{ entry['distance_km'] }} km {{ entry['distance_m'] }} m</strong>
                        {{ entry['runtime'] }} -
                        {{ entry['terrain'] }} -
                        {{ entry['run_type'] }}
                        {% if entry['race_name'] %}(Kisa: {{ entry['race_name']}}){% endif %}
                        <br>
                        <em class="other-note">{{ entry['other'] }}</em>
                        <br>
                        <small>{{ entry['created_at'] }}</small>
                        <a href="{{ url_for('edit_entry', entry_id=entry['id']) }}" class="button-link">Muokkaa tai poista merkintä</a>
                        <p></p>
                        <p></p>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aloita lisäämällä ensimmäinen juoksumerkintäsi!</p>
            {% endif %}
        </section>
        <aside class="stats-box">
            <h3>Ennätyksesi</h3>
            <p>Pisin juoksusi:
                {% if record_run and record_run > 0 %}
                    {{ record_run // 1000 }} km {{ record_run % 1000 }} m
                {% else %}
                    Saat tuloksia lisäämällä päiväkirjamerkintöjä!
                {% endif %}
            </p>
            <p>Olet osallistunut: {{ competition_count }} kilpailuun.</p>
            <p>Olet saanut {{ support_count }} kannustusta!</p>
        </aside>
    </main>

    <footer>
        <p>&copy; 2025 Juoksupäiväkirja. Kaikki oikeudet pidätetään.</p>
    </footer>
</body>
</html>