<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <nav class="nav-links">
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Lenkkipolku logo" class="banner-logo">
                </li>
                <li><a href="/">ETUSIVU</a></li>
                {%if session.get("user_id")%}
                <li><a href="/logout">KIRJAUDU ULOS</a></li>
                {%else%}
                <li><a href="/login">KIRJAUDU SISÄÄN</a></li>
                {%endif%}
                <li><a href="/personal_diary">PÄIVÄKIRJA</a></li>
                <li><a href="/browseruns">SELAA</a></li>
                <li><a href="/competition">KISAT</a></li>
            </ul>
        </nav>
    </header>

    <div class="top-banner">
        <h2>Rekisteröidy käyttäjäksi</h2>
    </div>

    <main>
        <section>
            <h2>Hienoa, Aloitetaan!</h2>
            <p> * kohdat pakollisia</p>
        </section>

        {%if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form class="register-form" method="POST" action="/register">
            <label for="fname">Etunimi*:</label>
            <input type="text" id="fname" name="fname" placeholder="Etunimesi" required
                value="{{ first_name|default('') }}">
            <label for="lname">Sukunimi*:</label>
            <input type="text" id="lname" name="lname" placeholder="Sukunimesi" required
                value="{{ last_name|default('') }}">

            <label for="username">Käyttäjänimi*:</label>
            <input type="text" id="username" name="username" placeholder="Valitse käyttäjänimi" required
                value="{{ username|default('') }}">

            <label for="password">Salasana*</label>
            <input type="password" id="password" name="password" placeholder="Vähintään 8 merkkiä, numero ja erikoismerkki" required>

            <label for="password2">Salasana uudestaan*:</label>
            <input type="password" id="password2" name="password2" placeholder="Toista salasana" required>
            
            <button type="submit">Rekisteröidy</button>
        </form>

        <section>
            <p>Viimeistele rekisteröintisi painamalla "rekisteröidy" nappia!</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Juoksupäiväkirja. Kaikki oikeudet pidätetään.</p>
    </footer>
</body>
</html>