<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <nav class="nav-links">
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Lenkkipolku logo" class="banner-logo">
                </li>
                <li><a href="/">ETUSIVU</a></li>
                {%if session.get("user_id")%}
                <li><a href="/logout">KIRJAUDU ULOS</a></li>
                {%else%}
                <li><a href="/register">REKISTERÖIDY</a></li>
                <li><a href="/login">KIRJAUDU SISÄÄN</a></li>
                {%endif%}
                <li><a href="/personal_diary">PÄIVÄKIRJA</a></li>
                <li><a href="/browseruns">SELAA</a></li>
                <li><a href="/competition">KISAT</a></li>
            </ul>
        </nav>
    </header>

    <div class="top-banner">
        <h2>Käyttäjän {{ profile_user['user'] }} juoksupäiväkirja</h2>
    </div>

    <main class="paivakirja-main">

        {%if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <section class="entries">
            {% if entries %}
                <ul>
                    {% for entry in entries %}
                    <li>
                        <strong>{{ entry['distance_km'] }} km {{ entry['distance_m'] }} m</strong>
                        {{ entry['runtime'] }} -
                        {{ entry['terrain'] }} -
                        {{ entry['run_type'] }}
                        {% if entry['race_name'] %}(Kisa: {{ entry['race_name']}}){% endif %}
                        <br>
                        <em>{{ entry['other'] }}</em>
                        <br>
                        <small>{{ entry['created_at'] }}</small>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Tällä käyttäjällä ei ole juoksumerkintöjä</p>
            {% endif %}
        </section>
        <aside class="stats-box">
            <h3>Käyttäjän tilastot</h3>
            <p>Pisin juoksu:
                {% if record_run %}
                    {{ record_run // 1000 }} km {{ record_run % 1000 }} m
                {% else %}
                    Ei vielä juoksumerkintöjä
                {% endif %}
            </p>
            <p>Osallistunut: {{ competition_count }} kilpailuun.</p>
            <p>Kannustuksia: {{support_count}}</p>

            {% if session.get("user_id") and not is_already_supported %}
            <form method="post">
                <button type="submit" class="button-link">Kannusta juoksijaa!</button>
            </form>
            {% elif is_already_supported %}
            <p>Olet jo kannustanut tätä juoksijaa!</p>
            {%endif%}
        </aside>
    </main>

    <footer>
        <p>&copy; 2025 Juoksupäiväkirja. Kaikki oikeudet pidätetään.</p>
    </footer>
</body>
</html>